



volumes:
  wg-easy_etc_wireguard:
  heimdall_config:
  qbittorrent_config:




networks:
  wireguard:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64




services:


  wg-easy:
    environment:
      - PORT=51821
      - HOST=0.0.0.0
      - INSECURE=true

    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    networks:
      wireguard:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - "wg-easy_etc_wireguard:/etc/wireguard"
      - "/lib/modules:/lib/modules:ro"
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1


  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Chicago
      - ALLOW_INTERNAL_REQUESTS=true
    network_mode: "service:wg-easy"
    depends_on:
      - wg-easy
    volumes:
      - heimdall_config:/config
    restart: unless-stopped

    
  backblaze-httpd:
    image: rclone/rclone:latest
    container_name: backblaze-httpd_rclone
    network_mode: "service:wg-easy"
    depends_on:
      - wg-easy
    volumes:
      - /home/ubuntu/backblaze-httpd/rclone.conf:/config/rclone/rclone.conf:ro
      - /home/ubuntu/backblaze-httpd/index.html:/config/rclone/index.html:ro
    command: >
      serve http b2:
      --config /config/rclone/rclone.conf
      --template /config/rclone/index.html
      --addr :8080
      --read-only
    restart: unless-stopped


  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Chicago
      - WEBUI_PORT=8181
      - TORRENTING_PORT=6881
    network_mode: "service:wg-easy"
    depends_on:
      - wg-easy
    volumes:
      - qbittorrent_config:/config
      - ./downloads:/downloads
    restart: unless-stopped
